@for $i from 1 to 100 {
	.m-#{$i} {
		margin: #{$i/10}rem !important;
	}

	.mx-#{$i} {
		margin-left: #{$i/10}rem !important;
		margin-right: #{$i/10}rem !important;
	}

	.my-#{$i} {
		margin-top: #{$i/10}rem !important;
		margin-bottom: #{$i/10}rem !important;
	}

	.mt-#{$i} {
		margin-top: #{$i/10}rem !important;
	}

	.mb-#{$i} {
		margin-bottom: #{$i/10}rem !important;
	}

	.ml-#{$i} {
		margin-left: #{$i/10}rem !important;
	}

	.mr-#{$i} {
		margin-right: #{$i/10}rem !important;
	}


	.p-#{$i} {
		padding: #{$i/10}rem !important;
	}

	.px-#{$i} {
		padding-left: #{$i/10}rem !important;
		padding-right: #{$i/10}rem !important;
	}

	.py-#{$i} {
		padding-top: #{$i/10}rem !important;
		padding-bottom: #{$i/10}rem !important;
	}

	.pt-#{$i} {
		padding-top: #{$i/10}rem !important;
	}

	.pb-#{$i} {
		padding-bottom: #{$i/10}rem !important;
	}

	.pl-#{$i} {
		padding-left: #{$i/10}rem !important;
	}

	.pr-#{$i} {
		padding-right: #{$i/10}rem !important;
	}
}
