*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* If user change the font-size in settings,
		out font-size will auto-scale */
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 1.6;
	color: $color-default;

	// Additional
	padding: 3rem;
}