// colors
$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-green-light: #7ed56f;
$color-green-medium: #55c57a;
$color-green-dark: #28b485;
$color-black: #000;
$color-white: #fff;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7900;

// fonts
$default-font-size: 1.6rem;

// Grid
$grid-max-width: 144rem;
$gap-vertical: 8rem;
$gap-horizontal: 8rem;
