*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* If user change the font-size in settings,
		out font-size will auto-scale */
	font-size: 62.5%;
}

body {
	padding: 3rem;
	margin-bottom: 10rem;
}
