body {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: $default-font-size;
	line-height: 1.6;
	color: $color-grey-dark;
}

.heading-primary {
	color: white;
	text-transform: uppercase;
	&--main {
		font-size: 7rem;
		letter-spacing: 3.5rem;
		animation: moveInLeft 1s ease-out;
	}
	&--sub {
		font-size: 3.1rem;
		letter-spacing: 2rem;
		font-weight: 700;
		animation: moveInRight 1s ease-out;
	}
}

.heading-secondary {
	text-transform: uppercase;
	text-align: center;
	font-size: 4.5rem;
	letter-spacing: 2px;
	margin: 8rem;
	background: linear-gradient(to right, $color-green-light, $color-green-dark);
	background-clip: text;
	color: transparent;
	transition: all .2s;
	display: inline-block;

	&:hover {
		transform: rotate(2deg) skewY(2deg);
		text-shadow: .5rem 1rem 2rem rgba($color-black, 0.4);
	}
}

.heading-tertiary {
	text-transform: uppercase;
	color: $color-grey-dark;
	font-weight: 700;
	font-size: 1.8rem;
	padding-bottom: 2rem;
}

.paragraph {
	font-weight: 500;
	padding-bottom: 2rem;
}