.btn {
	display: inline-block;
	font-size: 2.2rem;
	font-weight: 700;
	padding: 1.5rem 4rem;
	border-radius: 4rem;
	cursor: pointer;
	transition: all 0.2s;
	text-transform: uppercase;
	position: relative;
	user-select: none;

	&:link, &:visited {
		text-decoration: none;
	}

	&:hover {
		transform: translateY(-1rem);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-.5rem);
		box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
	}

	&--animation {
		animation: moveInBottom 0.25s ease-out 0.75s;
		animation-fill-mode: backwards;
	}

	&::after {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 4rem;
		transition: all 0.2s ease-in;
		z-index: -1;
	}

	&--primary {
		&, &::after {
			color: $color-grey-dark;
			background-color: white;
		}
	}

	&--secondary {
		display: inline-block;
		color: $color-medium-green;
		font-weight: 600;
		cursor: pointer;
		padding: .3rem;
		text-decoration: none;
		border-bottom: 1px solid $color-medium-green;
		transition: all .2s;

		&:hover {
			background-color: $color-medium-green;
			color: $color-grey-light;
			transform: translateY(-.2rem);
			box-shadow: 0 1rem 2rem rgba($color-black, .15);
		}
		&:active {
			transform: translateY(0);
			box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		}
	}

	&--white {
		&, &::after {
			color: $color-grey-dark;
			background-color: white;
			font-size: 1.6rem;
		}
	}
}
