.composition {
	position: relative;
	&:hover &__photo:not(:hover) {
		transform: scale(.95);
		box-shadow: 0 .5rem 1rem rgba($color-black, .3);
	}

	&__photo {
		width: 55%;
		border-radius: 2rem;
		box-shadow: 0 1rem 2rem rgba($color-black, .4);
		position: absolute;
		transition: all .2s;
		outline-offset: 1rem;
		z-index: 0;

		@include respond(phone) {
			position: relative;
			float: left;
			width: 33.33%;
		}

		&:hover {
			transform: scale(1.05) translateY(-.2rem);
			box-shadow: 0 2rem 4rem rgba($color-black, .5);
			outline: .5rem solid rgba($color-green-light, .2);
			z-index: 1;
		}

		&-1 {
			left: 0;
			top: -2rem;
			@include respond(phone) {
				left: 4rem;
				top: 6rem;
			}
		}

		&-2 {
			right: 0;
			top: 2rem;
			@include respond(phone) {
				left: 0;
				z-index: 2;
			}
		}

		&-3 {
			top: 10rem;
			left: 20%;
			@include respond(phone) {
				top: 6rem;
				left: -4rem;
			}
		}
	}
}