.section-about {
	background-color: $color-grey-light;
	height: 100vh;
	padding-top: 20vh;
	margin-top: -20vh;
	margin-bottom: 10vh;
}

.section-feature {
	background-image: linear-gradient(
			to right bottom,
			rgba($color-green-medium, .8),
			rgba($color-green-dark, .8)
		),
		url("../../img/nat-4.jpg");
	background-size: cover;
	padding: 20rem 0;
	margin-top: -15rem;
	transform: skewY(-5deg);

	& > * {
		transform: skewY(5deg);
	}
}

.section-category {
	background-color: $color-grey-light;
	padding: 20rem 0 10rem 0;
	margin-top: -10vh;
}

.section-story {
	position: relative;
	padding-bottom: 5rem;
}