.section-about {
	background-color: $color-grey-light;
	height: 100vh;
	padding-top: 20vh;
	margin-top: -20vh;
	margin-bottom: 10vh;
}

.section-feature {
	background-image: linear-gradient(
			to right bottom,
			rgba($color-green-medium, .8),
			rgba($color-green-dark, .8)
		),
		url("../../img/nat-4.jpg");
	background-size: cover;
	padding: 20rem 0;
	margin-top: -15rem;
	transform: skewY(-5deg);

	& > * {
		transform: skewY(5deg);
	}
}

.section-category {
	background-color: $color-grey-light;
	padding: 20rem 0 10rem 0;
	margin-top: -10vh;
}

.section-story {
	position: relative;
	padding-bottom: 5rem;
}

.section-booking {
	background-image: linear-gradient(to right bottom, $color-green-medium, $color-green-dark);
	padding: 15rem 0;
}

.booking {
	margin: 0 10rem;
	height: 100%;
	background-image:
		linear-gradient(
			105deg,
			rgba($color-white, .8) 50%,
			transparent 50%
		),
		url("../../img/nat-10.jpg");
	background-size: cover;
}